<html lang="en">
<%- include("./partials/head.ejs") %>

<body class="login-page">
  <div class="login-box">
    <a href="/"><img src="/FDA-logo.png" alt="FrontDeskAssistant logo"></a>

    <div class="form-box">
      <form action="/" method="POST">
        <div class="username">
          <label for="username">Username:</label>
          <textarea id="username" name="username" required></textarea>
        </div>
        <div class="password">
          <label for="password">Password:</label>
          <textarea id="password" name="password" required></textarea>
        </div>
        <button>Submit</button> 
      </form>
    </div>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>