<html lang="en">
<%- include("../partials/head.ejs") %>

<body>
  <div class="content-box">
  <div class="reportView">
    Invalid username. Please try again.
  </div>
</div>
  <%- include("../partials/footer.ejs") %>
</body>
</html>