<html lang="en">
<%- include("../partials/head.ejs") %>

<body>
  <div class="content-box">
  <div class="reportView">
    Restricted. Only admin users can view this page.
  </div>
</div>
  <%- include("../partials/footer.ejs") %>
</body>
</html>